<!-- 
<div class="row">
    <h2>ADD STUDENT</h2>
    <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="studentID">ID:</label>
        <input type="text" class="form-control" formControlName="studentID" id="studentID" autocomplete="off" required>
      </div>
      <button class="btn btn-success" [disabled]="deleteForm.invalid">DELETE STUDENT</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
</div>   -->
