<div class="sidebar">
    <ul>
      <li><a [routerLink]="['/']" ><i class="fa fa-users"></i><span>SHOW USERS</span></a></li>
      <li><a [routerLink]="['/add-student']" ><i class="fa fa-user-plus"></i><span>ADD USER</span></a></li>
      <li><a [routerLink]="['/edit-student']" ><i class="fa fa-pencil"></i><span>EDIT USER</span></a></li>
      <li><a [routerLink]="['/delete-student']" ><i class="fa fa-user-times"></i><span>DELETE USER</span></a></li>
      <li><a [routerLink]="['/user/bob']" ><i class="fa fa-sign-out"></i><span>SIGN OUT</span></a></li>
      </ul>
  </div>
  